<ng-template #showTemp let-msg="showMsg">
    Message : {{msg}}
</ng-template>

<ng-container *ngTemplateOutlet="showTemp, context : {showMsg : 'This is an NG Template'}">
</ng-container>

<br>

<ng-template #showCalc let-value="showValue" >
    Output : {{value}}
</ng-template>

<ng-container *ngTemplateOutlet="showCalc, context : {showValue : calc()}">
</ng-container>

<br>

<h2>Using context object parameter</h2>
<ng-template #showDetailValue let-details = 'showDetails'>
My name is {{details.name}}. I am {{details.age}} years old. I live in {{details.age}}.
</ng-template>

<ng-container *ngTemplateOutlet="showDetailValue, context : {showDetails : showPersonDetail}" ></ng-container>

<h2>Using $implicit</h2>
<ng-template #showImplicit let-details>
    My name is {{details.name}}. I am {{details.age}} years old. I live in {{details.age}}.
</ng-template>

<ng-container *ngTemplateOutlet="showImplicit, context : {$implicit : showPersonDetail} "></ng-container>

<h2>Using implicit for array</h2>

<ng-template #showEmp let-employee = 'empDetails'>
    <div *ngFor="let emp of employee">
        {{emp.id}}
        {{emp.name}}
    </div>
</ng-template>

<ng-container *ngTemplateOutlet="showEmp, context : {empDetails : employee}"></ng-container>