<ng-container *ngIf="isAuthorized; else unauthorized">
    <p>Authorized User</p>
</ng-container>

<ng-template #unauthorized>
    <p>Unauthorized User</p>
</ng-template>

<ng-container *ngIf="subjects.length > 0; else noSubject">
    <ul>
        <li *ngFor="let subject of subjects">{{subject}}</li>
    </ul>
</ng-container>

<ng-template #noSubject>
    No Subjects foumd
</ng-template>

<div>
    <ng-container class="input">
        <label>Name : </label>
        <input type="text" [(ngModel)]="userName" placeholder="Enter your name">
    </ng-container>
    <ng-container *ngIf="userName; else noName">
        Entered name is {{userName}}
    </ng-container>
    <ng-template #noName>
        Please enter your name.
    </ng-template>
</div>