
<label>Name:</label>
<input type="text" [(ngModel)] = "name" />
<hr>
<h2> {{name}} </h2>

<app-forms></app-forms>

<h2>Property Binding</h2>
<input type="text" placeholder="interpolation" value="{{textVal}}" disabled="{{isDisabled}}">
<input type="text" placeholder="property binding" [value]="textVal" [disabled]="isDisabled">

<h2>Event Binding</h2>
<button (click)="display()" >Click Event Binding</button>
<input type="text" (keyup)="onInputClick($event)" (select)="onSelect()" (keydown.shift.enter)="onKeyDown()" (cut)="onCut()">

<h2>Shift key Status</h2>
<input (keydown.shift.y)="keyevent()" type="text">
<input (keydown)="secondKeyEvent($event)" type="text" >

<router-outlet></router-outlet>
