<h1>Parent Component</h1>

<button (click)="sendDataToChild()" >Click to Generate</button>
<p>{{dataFromParent}}</p>

<h2>Below Sending to Child</h2>

<app-aftercontentchild>
    <h2>{{dataFromParent}}</h2>
    <div #contentWrapper>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto aut, adipisci delectus, perspiciatis consequatur cupiditate deleniti quas voluptates minima nobis placeat eum, quam nesciunt tempora iure impedit obcaecati molestias voluptatem! Iusto, ipsam.
    </div>
</app-aftercontentchild>